@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "calendar.css";
@import "range-slider.css";
@import "components.css";
@import "animations.css";
@import "@static-fonts/inter/inter.css";

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

@layer theme {
    h1 {
        @apply font-bold text-3xl;
    }

    h2 {
        @apply font-semibold text-3xl;
    }

    h3 {
        @apply font-semibold text-2xl;
    }

    h4 {
        @apply font-semibold text-xl;
    }

    h5 {
        @apply font-semibold text-lg;
    }

    h6 {
        @apply font-semibold text-sm;
    }

    a {
        @apply font-medium;
        @apply text-blue-600;
        @apply dark:text-blue-500;
        @apply hover:underline;
        @apply hover:text-blue-900;
        @apply hover:dark:text-blue-400;
        @apply decoration-dotted;
    }

    .p-dialog-mask {
        backdrop-filter: blur(5px);
    }
}

:root {
  /* Modern browsers to allow for dynamic resizing */
  interpolate-size: allow-keywords;
}

.v-popper__popper .v-popper__inner div {
    @apply text-sm;
}

.page-content ul, .page-content ol {
    @apply pl-3;
}

.page-content ul li {
    @apply list-disc;
}

.page-content ol li {
    @apply list-decimal;
}

.grid-cols-page {
    grid-template-areas:
        "left content right";
}
