@layer theme {
    .std-border {
        @apply  border-neutral-300/75 dark:border-neutral-700/75;
    }

    .subtle-zoom {
        @apply hover:scale-[102%];
    }

    .card {
        @apply border std-border p-4 rounded text-neutral-600 dark:text-neutral-300;

        a& {
            @apply
            !no-underline
            font-light
            hover:text-black
            dark:hover:text-white
            hover:border-neutral-700/25
            dark:hover:border-neutral-300/30
            hover:bg-white
            dark:hover:bg-neutral-800/75;
        }
    }
}
