@layer components {
    .std-border {
        @apply  border-neutral-300/75 dark:border-neutral-700/75;
    }

    .subtle-zoom {
        @apply hover:scale-[102%];
    }

    .card {
        @apply border std-border p-4 rounded text-neutral-600 dark:text-neutral-300;

        a&, &.action {
            @apply
            !no-underline
            font-light
            hover:text-black
            dark:hover:text-white
            hover:border-neutral-700/25
            dark:hover:border-neutral-300/30
            hover:bg-white
            dark:hover:bg-neutral-800/75;
        }
    }

    .v-popper__popper .v-popper__inner div {
        @apply text-sm;
    }

    .formatted-list {
        @apply ps-10;
        @apply space-y-2;

        li > ul {
            @apply list-disc;
        }
        li > ol {
            @apply list-decimal;
        }
        li > ul,
        li > ol {
            @apply space-y-2;
            @apply ps-5;
        }
        li p {
            @apply mb-0.5;
        }
    }
    ul.formatted-list {
        @apply list-disc;
    }

    ol.formatted-list {
        @apply list-decimal;
    }

    .grid-cols-page {
        grid-template-areas:
        "left content right";
    }

    .ease-bounce-in {
        @apply ease-[linear(0,_0.578_8.3%,_1.01_16.9%,_1.175_21.4%,_1.307_26%,_1.406_30.8%,_1.473_35.8%,_1.503_39.8%,_1.514_44%,_1.507_48.5%,_1.48_53.2%,_1.389_62.3%,_1.158_79.5%,_1.077_86.4%,_1.019_93.6%,_1)];
    }
}
