@import "@vueform/slider/themes/default.css";

/* This belongs to vue-form @see https://github.com/vueform/slider */

:root {
  --slider-bg: #D1D5DB;
  --slider-connect-bg: var(--p-primary-color);
  --slider-connect-bg-disabled: #9CA3AF;
  --slider-height: 6px;
  --slider-vertical-height: 300px;
  --slider-radius: 9999px;

  --slider-handle-bg: #fff;
  --slider-handle-border: 0;
  --slider-handle-width: 16px;
  --slider-handle-height: 16px;
  --slider-handle-radius: 9999px;
  --slider-handle-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, .32);
  --slider-handle-shadow-active: 0.5px 0.5px 2px 1px rgba(0, 0, 0, .42);
  --slider-handle-ring-width: 3px;
  --slider-handle-ring-color: #10B98130;

  --slider-tooltip-font-size: 0.875rem;
  --slider-tooltip-line-height: 1.25rem;
  --slider-tooltip-font-weight: 600;
  --slider-tooltip-min-width: 20px;
  --slider-tooltip-bg: var(--p-primary-color);
  --slider-tooltip-bg-disabled: #9CA3AF;
  --slider-tooltip-color: #fff;
  --slider-tooltip-radius: 5px;
  --slider-tooltip-py: 2px;
  --slider-tooltip-px: 6px;
  --slider-tooltip-arrow-size: 5px;
  --slider-tooltip-distance: 3px;
}
