name: Laravel Release

on: [ workflow_call, workflow_dispatch ]

jobs:
  test-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP 8.3
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none

      - name: Install Composer dependencies
        run: composer install --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --no-dev

      - name: Set directory permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install NPM dependencies
        run: npm ci

      - name: Compile front-end assets
        run: npm run build

      - name: Archive Release
        uses: thedoctor0/zip-release@main
        with:
          type: 'zip'
          filename: 'release.zip'
          exclusions: >
            *.git*
            /*node_modules/*
            .editorconfig
            vite.config.js
            phpunit.xml
            postcss.config.cjs
            docker-compose.yml
            jsconfig.json
            tailwind.config.js
            web-types.json
            rector.php
            /*resources/css/*
            /*resources/js/*
            /*queries/*
            /*storage/debugbar/*
            /*database/factories/*
            /*database/seeders/*
            /*tests/*
            /*docker/*

      - name: Upload Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "release.zip"
          prerelease: ${{ endsWith(github.ref, 'a') || endsWith(github.ref, 'b') || endsWith(github.ref, 'alpha') || endsWith(github.ref, 'beta') }}
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}
