name: Main Runner

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - beta-*
    tags:
      - "v*"
  pull_request:

jobs:
  run-tests:
    uses: ./.github/workflows/test.yml

  create-release:
    needs: run-tests
    if: startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/create-release.yml
